/**
 * BxSlider v4.0 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2012
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */
 
 	.slider-caption p{
		color:#FFFFFF;
	}
 
 	.slider-text em{
		color:#FFFFFF;
		font-style:normal;
	}
 
	.bx-next{
		right:10px;
	}
	
	@media screen and (orientation:landscape) {
		.slider-caption{
				bottom:44%;
		}
	}
	
	@media screen and (orientation:portrait) {
		.slider-caption{
				bottom:35%;
		}
	}

	.slider-caption{
		height:80px;
		width:100%;
		right:0px;
		padding:20px;
		position:absolute;
		z-index:99998;
		color:#FFFFFF;
	} 
	
	.slider-title{
		padding-top:5px;
		font-family:'Dosis', sans-serif;
		font-weight:200;
		font-size:18px;	
		line-height:30px;
		text-align:center;
	}
	
	.slider-link{
		text-transform:uppercase;
		display:block;
		padding-top:20px;
	}
	
	.slider-text{
		display:none;
	}


.slider-text span{
	color:#FFFFFF;
}

.bx-wrapper div{
	position:static;
	overflow:visible;	
}

/** RESET AND LAYOUT
===================================*/

.bx-wrapper{overflow:visible;}
.bx-controls{overflow:visible;}
.bx-has-pager{overflow:visible;}
.bx-controls-direction{overflow:visible;}
.bx-has-controls-direction{overflow:visible;}
.bx-pager{overflow:visible;}
.bx-default-pager{overflow:visible;}
.bx-pager-item{overflow:visible;}




.bx-wrapper {
	position: relative;
	margin: 0 auto 20px;
	padding: 0;
	*zoom: 1;
}

.bx-wrapper img {
	max-width: 100%;
	display: block;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
	box-sizing:border-box!important;
	box-shadow: 0 0 5px #ccc;
	background: #fff;
	
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	overflow:visible;
	position: absolute;
	bottom: -30px;
	width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(../images/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {

	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

/*
.bx-wrapper .bx-prev {
	left: 20px;
	background: url(../images/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
	right: 20px;
	background: url(../images/controls.png) no-repeat -43px -32px;
}



*/

.bx-wrapper .bx-prev{
	left:7px;
	background: url(../images/slider/prev.png) no-repeat;
	background-size:27px 27px;
	z-index:999!important;
}

.bx-wrapper .bx-next{
	right:1px;
	background: url(../images/slider/next.png) no-repeat;
	background-size:27px 27px;
	z-index:999!important;
}


.bx-wrapper .bx-prev:hover {
	opacity:0.7;
}

.bx-wrapper .bx-next:hover {
	opacity:0.7;
}


.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	/*margin-top: -16px;*/
	margin-top: -13px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 9999;
}



.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
	text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(../images/controls.png) -86px -11px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(../images/controls.png) -86px -44px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #666\9;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
}

.bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 10px;
}