@charset "utf-8";
/* CSS Document */

.all-elements{
	overflow-x:hidden;
}

body{
	background-color:#282c33;
	/*background-color:rgba(74,103,174,1);*/
}

#content{
	background-color:#FFFFFF;
}

#content .container, .decoration, .column, .gallery{
	margin:0px 20px;
	margin-bottom:13%;
}


.bxslider-wrapper{
	margin-left:20px;
	margin-right:20px;
	margin-bottom:0px;
}


.container-gray{
	background-color:#e7e7e7;
	padding-top:20px;
	padding-bottom:20px;
	margin-bottom:20px;
}


.page-header{
	background-color:rgba(74,103,174,1);
	height:60px;
	box-shadow: 0px 3px 2px 2px rgba(0, 0, 0, 0.2);
	margin-bottom:20px;
}


.paragraph{
	display:block;
	width:100%;
}

.logo{
	width:63px;
	float:right;
	margin-right:20px;
	margin-top:22px;
}


.deploy-sidebar{
	position:absolute;
	top:0px;
	left:0px;
	background-image:url(../images/misc/deploy-menu@2x.png);
	background-size:18px 12px;
	background-repeat:no-repeat;
	background-position:20px 24px;
	width:60px;
	height:60px;
}

.deploy-sidebar:hover{
	background-color:rgba(255,255,255,0.1);
}


.sidebar-header{
	overflow:visible;
}


.delete-sidebar{
	overflow:visible!important;
	display:inline;
	position:absolute;
	background-image:url(../images/icon/misc/accessdenied.png);
	background-position:22px 24px;
	background-repeat:no-repeat;
	background-size:16px 16px;
	width:60px;
	height:60px;
	left:201px;
	margin-top:-25px;
}

.delete-sidebar:hover{
	background-color:rgba(255,255,255,0.1);	
}

.sidebar-decoration{
	background-color:#111112;
	height:1px;
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1); 	
}

.sidebar-separator{
	padding-left:20px!important;
	font-family:'Lato', sans-serif;
	color:#757575;
	font-size:10px;
	margin:0px;
	padding:0px;	
	background-color:#111112;
	opacity:0.7;
	height:25px;	
	border-top:1px solid #323437;
	border-bottom:1px solid #323437;
}

.no-border{
	border-bottom:none!important;
}

.page-content{
	background-color:#282c33;
	z-index:10;
	display:block;
	min-height:580px;
}

.page-content-wrapper{
	display:block;
	background-color:#FFFFFF;
	margin-top:0px;
	margin-bottom:0px;
	padding:20px;
	padding-bottom:15px;
}

.page-sidebar{
	background-color:#232528;
	width:260px;
	display:block;
	position:absolute;
	z-index:2;
	top:0px;
	left:0px;
	bottom:0px;
	overflow:hidden;
	overflow-y:scroll !important;
	position:fixed;
	
}

.page-sidebar-scroll{
	width:280px;
	overflow: scroll!important;
	overflow-x:hidden!important;
	-webkit-overflow-scroll:touch!important;	
	/*height:100%;*/
}

.sidebar-logo{
	margin-top:25px;
	margin-left:20px;
	margin-bottom:-7px;
}

.sidebar-header{
	margin-bottom:28px;
	margin-top:8px;
}

.heading{
	font-weight:800;
}


.flat-button{
	color:#FFFFFF;
	font-size:12px;
	background-color:#d35400;
	border-radius:5px;
	padding-top:10px;
	padding-bottom:10px;
	text-align:right;
	padding-right:20px;
}

.center-button{
	width:160px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
}

.flat-menu{
	background-image:url(../images/icon/arrows/bendedright.png);
	background-repeat:no-repeat;
	background-size:20px 20px;
	background-position:9px 10px;
}

.flat-settings{
	background-image:url(../images/icon/settings/cog4.png);
	background-repeat:no-repeat;
	background-size:20px 20px;
	background-position:8px 9px;
}

.flat-features{
	background-image:url(../images/icon/power/power.png);
	background-repeat:no-repeat;
	background-size:20px 20px;
	background-position:8px 9px;	
}

.flat-gallery{
	background-image:url(../images/icon/media/image2.png);
	background-repeat:no-repeat;
	background-size:20px 20px;
	background-position:8px 9px;
}

.flat-portfolio{
	background-image:url(../images/icon/display/blockimages.png);
	background-repeat:no-repeat;
	background-size:20px 20px;
	background-position:8px 9px;	
}



.footer{
	background-color:rgba(74,103,174,1);
	height:60px;
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.footer-facebook{
	background-image:url(../images/icon/social/facebook.png);
	background-size:24px 24px;
	margin-top:20px;
	display:block;
	width:24px;
	height:24px;
	margin-left:20px;
	float:left;
}

.footer-twitter{
	float:left;
	background-image:url(../images/icon/social/twitter.png);
	background-size:24px 24px;
	margin-top:20px;
	display:block;
	width:24px;
	height:24px;
	margin-left:15px;
}

.footer-up{
	float:left;
	background-image:url(../images/icon/arrows/bendedup.png);
	background-size:24px 24px;
	margin-top:20px;
	display:block;
	width:24px;
	height:24px;
	margin-left:15px;
}

.footer em{
	text-align:right;
	color:#FFFFFF;
	display:block;
	font-size:12px;
	font-family:'Lato', sans-serif;
	padding-right:20px;
	text-transform:uppercase;
	font-weight:800;
	font-style:normal;
	padding-top:22px;
}

.nav-item{
	font-size:14px;
	background-size:24px 24px;
	background-position:20px 18px;
	background-repeat:no-repeat;
	font-family:'Dosis', sans-serif;
	color:#FFFFFF;
	height:60px;
	line-height:55px;
	padding-left:60px;
	padding-top:3px;
	padding-bottom:5px;
	opacity:0.8;
	border-bottom:solid 1px #111112;
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1); 
}

.home-nav{		background-image:url(../images/icon/misc/home.png);}
.type-nav{	background-image:url(../images/icon/display/lists.png);}
.jquery-nav{	background-image:url(../images/icon/misc/tag.png);}
.other-nav{		background-image:url(../images/icon/misc/preview.png);}
.gallery-nav{	background-image:url(../images/icon/media/image2.png);}
.portfolio-nav{	background-image:url(../images/icon/media/image3.png);}
.videos-nav{	background-image:url(../images/icon/media/film.png);}
.contact-nav{	background-image:url(../images/icon/misc/mail.png);}
.alert-nav{	background-image:url(../images/icon/misc/alert.png);}

.text-nav{	background-image:url(../images/icon/misc/infoabout.png);}
.call-nav{	background-image:url(../images/icon/communication/phonehook.png);}
.facebook-nav{	background-image:url(../images/icon/social/facebook.png);}
.twitter-nav{	background-image:url(../images/icon/social/twitter.png);}


.nav-page{
	position:absolute;
	left:220px;
	top:20px;
	background-image:url(../images/misc/next-shortcut.png);
	background-repeat:no-repeat;
	background-size:22px 22px;
	width:22px;
	height:22px;
}

.nav-link{
	position:absolute;
	left:220px;
	top:20px;
	background-image:url(../images/misc/link-shortcut.png);
	background-repeat:no-repeat;
	background-size:22px 22px;
	width:22px;
	height:22px;
}

.nav-onit{
	position:absolute;
	left:220px;
	top:20px;
	background-image:url(../images/misc/onit-shortcut.png);
	background-repeat:no-repeat;
	background-size:22px 22px;
	width:22px;
	height:22px;
}


.nav-item:hover{
	background-color:rgba(74,103,174,1);
	/*color:#000000;*/
}
